<section class="section4">
  <div class="sessao4">
    <h1>Oficinas e Aulas Praticas</h1>
    <div class="retangulo-vertical-laranja">
      <h2>Oficina Nivel 0-1</h2>
      <p>Oferecida aos alunos que tenham nenhum ou um conhecimento vago sobre
        o uso do e-mail e suas funcionalidades.</p>
      <ul>
        <li>Tira duvidas;</li>
        <li>Aulas Praticas;</li>
        <li>Acompanhamento Personalizado;</li>
      </ul>
      <button type="button" name="button" class="saiba-mais-laranja">Saiba Mais</button>

    </div>

    <div class="retangulo-vertical-amarelo">
      <h2>Oficina Nivel 2-3</h2>
      <p>Oferecida aos alunos que tenham conhecimento intermediario sobre
        o uso do e-mail e suas funcionalidades.</p>
      <ul>
        <li>Tira duvidas;</li>
        <li>Aulas Praticas;</li>
        <li>Acompanhamento Personalizado;</li>
      </ul>
      <button type="button" name="button" class="saiba-mais-amarelo">Saiba Mais</button>
    </div>
    <div class="retangulo-vertical-azul">
      <h2>Oficina Nivel 4-5</h2>
      <p>Oferecida aos alunos que tenham conhecimento avançado sobre
        o uso do e-mail e suas funcionalidades.</p>
      <ul>
        <li>Tira duvidas;</li>
        <li>Aulas Praticas;</li>
        <li>Acompanhamento Personalizado;</li>
      </ul>
      <button type="button" name="button" class="saiba-mais-azul">Saiba Mais</button>
    </div>

    <div class="retangulo-vertical-azul-full">
      <h1>Agende uma aula para sua turma
        ou acao social.
      </h1>
    </div>

  </div>
</section>
