
@media screen and (min-width: 767px) {

  .background-svg,
  .email-svg,
  .inclusao-svg {
    display: none;
  }


  .background-desktop-svg {
    height: auto;
    margin-left: auto;
  }

  .email-desktop-svg { /* ajuste ao centro */
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Permite que o SVG fique sobreposto ao fundo */

  }


  .inclusao-desktop-svg { /* ajuste ao centro */
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Permite que o SVG fique sobreposto ao fundo */

  }

  .section1 {
    /* Estilos da seção, como margens, padding, etc. */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#1C77FF, white);
    padding-left: 10px;
    color: #333;
    position: relative;
  }

  .button-svg {
    width: 117px; /* Ajuste a larura conforme necessário */
    height: auto;
    justify-content: center;
    position: absolute;
    top: 76%;
    left: 50%;
  }


}

@media screen and (max-width: 767px) {
  .background-desktop-svg,
  .email-desktop-svg,
  .inclusao-desktop-svg {
    display: none;
  }

  .text-container {
    flex-direction: column;
  }

  .first-text,
  .second-text {
    order: initial; /* Restaura a ordem padrão */
  }

  .image-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .inclusao-svg {
    margin-top: 0; /* Remove o espaçamento entre os SVGs */
    width: 20%; /* Ajuste o tamanho conforme necessário */
    order: initial; /* Restaura a ordem padrão */
  }

  .background-svg {
    width: 150px;
    height: auto;
    margin-left: auto;

  }

  .button-svg {
    width: 100px; /* Ajuste a larura conforme necessário */
  }

  .section1 {
    /* Estilos da seção, como margens, padding, etc. */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#1C77FF, white);
    padding-left: 10px;
    color: #333;
    position: relative;
  }
}


.text-container {
  display: flex;
  flex-direction: column;
}

.first-text {
  order: -1; /* Faz o primeiro texto aparecer primeiro em telas menores */
}

.second-text {
  order: 1; /* Faz o segundo texto aparecer depois do primeiro em telas menores */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajuste o espaçamento conforme necessário */
}

.email-svg,
.inclusao-svg {
  width: 80%; /* Ajuste o tamanho conforme necessário */
  position: relative; /* Permite o posicionamento do SVG */
  z-index: 1; /* Permite que o SVG fique sobreposto ao fundo */
  margin-right: 60px;
}

.inclusao-svg {
  margin-top: 10px; /* Ajuste o espaçamento entre os SVGs */
}
