<section class="section1">
  <div class="images-container">
    <div class="image-container">
      <img src="../../../../assets/mobile/emailtodos-mobile.svg" alt="Email para Todos" class="email-svg">

      <img src="../../../../assets/email-todos-desktop.svg" alt="Email para Todos" class="email-desktop-svg">

    </div>
    <div class="image-container">
      <img src="../../../../assets/mobile/inclusaosoc-mobile.svg" alt="Inclusão Social" class="inclusao-svg">

      <img src="../../../../assets/inclusao-desktop.svg" alt="Inclusão Social" class="inclusao-desktop-svg">

    </div>
  </div>

  <!-- SVG para telas móveis -->
  <img src="../../../../assets/mobile/carta-mobile.svg" alt="Carta" class="background-svg">

  <img src="../../../../assets/carta-desktop.svg" alt="Carta" class="background-desktop-svg">


  <!-- Botão para telas móveis -->
  <img src="../../../../assets/mobile/botao-acesso-mobile.svg" alt="Botão de Acesso" class="button-svg">
</section>

