<section class="section1">
  <div class="images-container">
    <div class="image-container">
      <img src="../../../../assets/mobile/emailtodos-mobile.svg" alt="Email para Todos" class="email-svg">
    </div>
    <div class="image-container">
      <img src="../../../../assets/mobile/inclusaosoc-mobile.svg" alt="Inclusão Social" class="inclusao-svg">
    </div>
  </div>
  <!-- SVG para telas móveis -->
  <img src="../../../../assets/mobile/carta-mobile.svg" alt="Carta" class="background-svg">
  <!-- Botão para telas móveis -->
  <img src="../../../../assets/mobile/botao-acesso-mobile.svg" alt="Botão de Acesso" class="button-svg">
</section>

