
.sessao2 {
  background-color: white;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .sessao2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sessao2 > div {
    flex-basis: 80%;
  }

  .sessao2 h1 {
    margin-top: 0; /* Remove a margem superior do título */
  }

  .sessao2 img.botao-leiamais-laranja-mobile {
    display: inline-block; /* Torna o botão Leia Mais um elemento em linha */
    margin-top: 10px; /* Adiciona uma margem superior ao botão Leia Mais */
  }

  .video-container {
    margin-top: 10px; /* Adiciona uma margem superior para separar do conteúdo acima */
    position: relative;
    padding-left: 50px;
  }

  .video-container iframe {
    width: 100%; /* Define a largura do iframe como 100% da largura do contêiner */
    border-radius: 20px; /* Adiciona bordas arredondadas ao iframe */
  }

  .sessao2 .botao-acesso {
    position: absolute; /* Define a posição absoluta para o botão de acesso */
    left: 8%;
    bottom: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Coloca o botão na frente do iframe */
  }


}

@media screen and (max-width: 767px) {
  :host {
    display: block;
    background-color: white; /* Define o fundo como branco */
    padding: 20px; /* Adiciona um espaçamento interno conforme necessário */
    /* Outros estilos conforme necessário */
  }

  .sessao2 h1 {
    font-family: 'Inter', sans-serif; /* Define a fonte Inter */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    /* Outros estilos para o título */
    width: 311px; /* Largura da caixa do título */
    text-align: left; /* Alinhamento à esquerda */
  }

  .section2 {
    margin-top: 72px;
  }

  .sessao2 p {
    margin-top: 34px;
    font-size: 14px;
  }

  .sessao2 {
    display: block;
    background-color: white;
    padding: 20px;
  }

  /* Estilos para o iframe */
  .sessao2 .video-container {
    position: relative;
    margin-top: 34px; /* Adiciona a margem superior */
  }

  .sessao2 iframe {
    display: block;
    margin: 0 auto; /* Centraliza verticalmente com margem superior de 34px */
    width: 300px;
    height: 150px;
    border-radius: 20px;
  }


  .botao-leiamais-laranja-mobile {
    display: block;
    margin: 80px auto 34px; /* Centraliza horizontalmente */
    /* Outros estilos para o botão */
  }

  /* Estilos para o botão de acesso */
  .sessao2 .botao-acesso {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; /* Coloca o botão na frente do iframe */
    /* Outros estilos para o botão de acesso */
  }


}
