<section class="section2">
  <div class="sessao2">
    <h1>E-mail para acesso a benefícios de programas sociais, dentre outros.</h1>
    <p>Ainda existem no Brasil, pessoas que nao teem acesso aos servicos basicos disponiveis ao cidadao e programas
      sociais oferecidos pelo governo. Essa falta de acesso promove a <i>exclusao social e digital</i> dessas pessoas. O
      que
      para uns ocorre de maneira natural, pra outros a vida digital pode nem sequer ser uma acao existente. Mas aqui
      podemos mudar isso.</p>

    <img src="assets/mobile/botao-leiamais-laranja-mobile.svg" alt="Botão Leia Mais" class="botao-leiamais-laranja-mobile">
    <!-- Elemento para o vídeo do YouTube -->
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8jSTWTOSm0Y?si=DuVg-Gzi0o_hPLIa;"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
              web-share" allowfullscreen></iframe>

      <!-- Botão de acesso -->
      <a href="https://www.youtube.com/embed/8jSTWTOSm0Y?si=DuVg-Gzi0o_hPLIa;" target="_blank"
         rel="noopener noreferrer">
        <img src="assets/mobile/botao-acesso-mobile.svg" alt="Botão de Acesso" class="botao-acesso">
      </a>
    </div>
  </div>
</section>
