<section class="section3">
  <div class="sessao3">
    <div class="retangulo-container">
      <h1>Quais oportunidades sociais garantidas via uso de e-mail?</h1>
      <div class="retangulo-azul">
        <h2>Carteira de Trabalho Digital</h2>
        <p>
          A Carteira de Trabalho e Previdência Social (CTPS) é o documento que registra a vida profissional
          do trabalhador e garante o acesso aos direitos trabalhistas previstos em lei. A carteira de trabalho
          será emitida de forma prioritária no formato digital e excepcionalmente no formato físico.
        </p>
      </div>
    </div>
    <div class="retangulo-container">
      <div class="retangulo-amarelo">
        <h2>BPC</h2>
        <p>
          O Benefício de Prestação Continuada – BPC, é a garantia de um salário mínimo ao idoso com idade
          igual ou superior a 65 anos ou à pessoa com deficiência de qualquer idade.
        </p>
      </div>
      <div class="retangulo-amarelo-bolsa">
        <h2>Bolsa Família</h2>
        <p>
          O Bolsa Família é o maior programa de transferência de renda do Brasil, reconhecido
          internacionalmente por já ter tirado milhões de famílias da fome.
        </p>
      </div>
      <div class="retangulo-azul-cadunico">
        <h2>CadÚnico</h2>
        <p>
          O Cadastro Único (CadÚnico) é o principal instrumento do governo para a inclusão de famílias
          de baixa renda em programas federais como Tarifa Social de Energia Elétrica e Benefício de
          Prestação Continuada (BPC), além de dar direito ao Auxílio Emergencial e ao Auxílio Brasil,
          entre outros benefícios.
        </p>
      </div>
    </div>
  </div>
</section>

